<#@ template language="C#" debug="True" #>
<#@ output extension="txt" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="LmudmTemplate.tt" #>
<#

    LmudmTemplate template = new LmudmTemplate();
    template.CubeName = "LiveMetricsCube";
	template.Measures = new string[]{
		"QueryViewCountWithTOCClicks",
		"RelatedItemCount",
		"QueryViewCountWithPaginationPresent",
		"QueryViewCountWithResultsPos08Present",
		"ResultsPos03ClickCount",
		"PaginationClickCount",
		"QueryViewCountWithWebIndexClicks",
		"ResultsPos05ItemCount",
		"QueryViewCountWithRightRailPresent",
		"TOCVerticalNavItemCount",
		"QueryViewCountWithResultsClicks",
		"QueryViewCountWithScopeBarPresent",
		"QueryViewCountWithCoreTopAdClicks",
		"QueryViewCountWithDominantResultWebIndexPresent",
		"QueryViewCountWithResultsPos01Clicks",
		"SearchHistoryItemCount",
		"TOCClickCount",
		"TOCWebGroupClickCount",
		"QueryViewCountWithCoreTopClicks",
		"QueryViewCountWithRightRailClicks",
		"CoreBottomAdItemCount",
		"AnswerItemCount",
		"ScopeBarItemCount",
		"RightRailAdClickCount",
		"QueryViewCountWithResultsPos07Present",
		"CorrectionItemCount",
		"ResultsPos03ItemCount",
		"ResultsPos04ClickCount",
		"QueryViewCountWithClicks",
		"QueryViewCountWithTOCVerticalNavPresent",
		"CoreTopItemCount",
		"QueryViewCountWithResultsPos03Present",
		"QueryViewCountWithTOCWebGroupPresent",
		"ScopeBarClickCount",
		"ResultsPos02ItemCount",
		"QueryViewCountWithScopeBarClicks",
		"RightRailItemCount",
		"DominantResultWebIndexClickCount",
		"QueryViewCountWithResultsPresent",
		"ResultsPos09ItemCount",
		"QueryViewCountWithCorrectionPresent",
		"QueryViewCountWithCorePresent",
		"WebIndexItemCount",
		"QueryViewCountWithCoreTopAdPresent",
		"ResultsPos06ClickCount",
		"QueryViewCountWithRightRailAdClicks",
		"QueryViewCountWithCoreBottomClicks",
		"ResultsPos08ClickCount",
		"QueryViewCountWithRelatedClicks",
		"QueryViewCountWithResultsPos05Present",
		"QueryViewCountWithRightRailAdPresent",
		"QueryViewCountWithCoreBottomAdClicks",
		"CoreTopAdClickCount",
		"QueryViewCountWithCoreBottomAdPresent",
		"QueryViewCountWithAdClicks",
		"QueryViewCountWithTOCPresent",
		"ResultsPos06ItemCount",
		"AdItemCount",
		"ResultsPos07ItemCount",
		"TOCWebGroupItemCount",
		"ResultsPos09ClickCount",
		"QueryViewCountWithResultsPos04Clicks",
		"TOCItemCount",
		"ItemCount",
		"QueryViewCountWithResultsPos06Clicks",
		"QueryViewCountWithCoreBottomPresent",
		"QueryViewCountWithResultsPos09Clicks",
		"QueryViewCountWithResultsPos09Present",
		"QueryViewCountWithResultsPos06Present",
		"QueryViewCountWithItemPresent",
		"CoreItemCount",
		"QueryViewCountWithCoreTopPresent",
		"QueryViewCountWithDominantResultWebIndexClicks",
		"ResultsItemCount",
		"RightRailClickCount",
		"QueryViewCountWithResultsPos10Present",
		"ResultsPos01ClickCount",
		"QueryViewCountWithCorrectionClicks",
		"PaginationItemCount",
		"CoreBottomClickCount",
		"QueryViewCountWithResultsPos05Clicks",
		"QueryViewCountWithResultsPos02Present",
		"RightRailAdItemCount",
		"ResultsPos01ItemCount",
		"QueryViewCountWithResultsPos04Present",
		"ResultsPos02ClickCount",
		"ResultsClickCount",
		"QueryViewCountWithAnswerClicks",
		"CoreTopAdItemCount",
		"QueryViewCountWithResultsPos07Clicks",
		"QueryViewCountWithTOCWebGroupClicks",
		"CorrectionClickCount",
		"QueryViewCountWithAdPresent",
		"QueryViewCountWithPaginationClicks",
		"ResultsPos10ItemCount",
		"ResultsPos08ItemCount",
		"ResultsPos07ClickCount",
		"ClickCount",
		"QueryViewCountWithCoreClicks",
		"QueryViewCountWithResultsPos08Clicks",
		"QueryViewCountWithResultsPos10Clicks",
		"QueryViewCountWithWebIndexPresent",
		"CoreTopClickCount",
		"QueryViewCountWithResultsPos02Clicks",
		"QueryViewCountWithTOCVerticalNavClicks",
		"DominantResultWebIndexItemCount",
		"QueryViewCountWithRelatedPresent",
		"CoreBottomItemCount",
		"QueryViewCountWithSearchHistoryClicks",
		"QueryViewCountWithResultsPos01Present",
		"WebIndexClickCount",
		"AnswerClickCount",
		"TOCVerticalNavClickCount",
		"RelatedClickCount",
		"ResultsPos10ClickCount",
		"CoreClickCount",
		"ResultsPos04ItemCount",
		"AdClickCount",
		"ResultsPos05ClickCount",
		"QueryViewCountWithResultsPos03Clicks",
		"QueryViewCountWithAnswerPresent",
		"SearchHistoryClickCount",
		"CoreBottomAdClickCount",
		"QueryViewCountWithSearchHistoryPresent",
		"QueryViewCountWithRelevantSearchHistoryPresent",
		"QueryViewCountWithRecentSearchHistoryPresent",
		"QueryViewCountWithHighMonetizationQuerySuggestionsPresent",
		"QueryViewCountWithRelevantSearchHistoryClicks",
		"RecentSearchHistoryClickCount",
		"HighMonetizationQuerySuggestionsClickCount",
		"QueryViewCountWithRecentSearchHistoryClicks",
		"HighMonetizationQuerySuggestionsItemCount",
		"RelevantSearchHistoryClickCount",
		"RecentSearchHistoryItemCount",
		"RelevantSearchHistoryItemCount",
		"QueryViewCountWithHighMonetizationQuerySuggestionsClicks",
		"NavBarHeaderPageTitleItemCount",
		"QueryViewCountWithCoreResultsDocPreview2OrMorePresent",
		"QueryViewCountWithDCardWebIndexExternalWebSearchClicks",
		"QueryViewCountWithResultForceToBottomAnswerPresent",
		"QueryViewCountWithResultForceToBottomAnswerClicks",
		"NavBarClickCount",
		"QueryViewCountWithTopAnswerPresent",
		"QueryViewCountWithNavBarClicks",
		"InlineAnswerItemCount",
		"QueryViewCountWithRelatedQSDefaultPresent",
		"QueryViewCountWithInlineAnswerClicks",
		"QueryViewCountWithCoreResultsDocPreview4OrMorePresent",
		"QueryViewCountWithCompareClicks",
		"QueryViewCountWithComparePresent",
		"QueryViewCountWithAnswerBarClicks",
		"QueryViewCountWithTopECardPresent",
		"QueryViewCountWithRelatedQSCompareClicks",
		"QueryViewCountWithRelatedQSDefaultClicks",
		"QueryViewCountWithDCardWebIndexPackageSearchClicks",
		"QueryViewCountWithNavBarHeaderPageTitleClicks",
		"QueryViewCountWithCoreResultsDocPreviewPresent",
		"QueryViewCountWithDCardWebIndexPackageSearchPresent",
		"AutosuggestClickCount",
		"QueryViewCountWithInlineECardClicks",
		"QueryViewCountWithCoreResultsDocPreviewClicks",
		"CoreResultsDocPreviewEmbeddedItemCount",
		"InlineAnswerClickCount",
		"QueryViewCountWithAnswerBarPresent",
		"NavBarHeaderPageTitleClickCount",
		"QueryViewCountWithCoreResultsDocPreviewEmbeddedPresent",
		"QueryViewCountWithNavBarHeaderPageTitlePresent",
		"QueryViewCountWithRelatedQSComparePresent",
		"QueryViewCountWithTopAnswerClicks",
		"AnswerBarItemCount",
		"QueryViewCountWithInlineAnswerPresent",
		"QueryViewCountWithCoreResultsDocPreview5OrMorePresent",
		"QueryViewCountWithTopECardClicks",
		"QueryViewCountWithAutosuggestPresent",
		"TopAnswerClickCount",
		"QueryViewCountWithAutosuggestClicks",
		"QueryViewCountWithDCardWebIndexExternalWebSearchPresent",
		"QueryViewCountWithNavBarPresent",
		"AnswerBarClickCount",
		"QueryViewCountWithCoreResultsDocPreview3OrMorePresent",
		"QueryViewCountWithInlineECardPresent",
		"TopAnswerItemCount",
		"RelatedQSDefaultItemCount",
		"RelatedQSDefaultClickCount",
		"NavBarItemCount",
		"DistinctQueryCount",
		"DistinctQueryCountVerticalWithinVisit",
		"QuickQueryCount",
		"DistinctQueryCountWithinVisit",
		"BotTrafficCount",
		"AdRevenue",
		"QueryViewCountWithNoResult",
		"DistinctQueryCountVertical",
		"TrafficCount",
		"QueryViewCount",
		"TotalTimeToLastClick",
		"NonBotTrafficCount",
		"TotalTimeToFirstClick",
		"DCardWebIndexDeeplinkClickCount",
		"ECardFreshContentItemCount",
		"DCardAnswerItemCount",
		"QueryViewCountWithLeftRailClicks",
		"TaskSharingClickCount",
		"QueryViewCountWithTaskSharingClicks",
		"QueryViewCountWithHeaderPresent",
		"QueryViewCountWithECardDominantImagePresent",
		"ECardBlurbClickCount",
		"QueryViewCountWithDCardPresent",
		"QueryViewCountWithWebIndexDeeplinkClicks",
		"DCardWebIndexSiteSearchClickCount",
		"ECardBlurbItemCount",
		"QueryViewCountWithDCardWebIndexDeeplinkClicks",
		"DCardWebIndexTitleLinkItemCount",
		"QueryViewCountWithDCardWebIndexSiteSearchClicks",
		"AdultAdItemCount",
		"EntityResultsTranslateLinkItemCount",
		"QueryViewCountWithRichAdClicks",
		"LeftRailItemCount",
		"QueryViewCountWithEntityResultsEnhancedViewLinkClicks",
		"QueryViewCountWithECardBlurbPresent",
		"QueryViewCountWithEntityResultsSiteDataLinkClicks",
		"EntityResultsCachedPageLinkItemCount",
		"QueryViewCountWithDCardWebIndexTitleLinkClicks",
		"QueryViewCountWithECardAnswerRowClicks",
		"LeftRailClickCount",
		"QueryViewCountWithEntityResultsSiteDataLinkPresent",
		"DCardWebIndexTitleLinkClickCount",
		"ECardAnswerRowItemCount",
		"DCardWebIndexDeeplinkItemCount",
		"DCardAnswerClickCount",
		"QueryViewCountWithEntityResultsTranslateLinkClicks",
		"QueryViewCountWithDCardWebIndexTitleLinkPresent",
		"RichAdClickCount",
		"QueryViewCountWithEntityResultsCachedPageLinkPresent",
		"QueryViewCountWithLeftRailPresent",
		"ECardFreshContentClickCount",
		"QueryViewCountWithAdultAdPresent",
		"HeaderClickCount",
		"FooterClickCount",
		"QueryViewCountWithECardDominantImageClicks",
		"HeaderItemCount",
		"AdultAdClickCount",
		"EntityResultsSiteDataLinkItemCount",
		"ECardItemCount",
		"DCardWebIndexClickCount",
		"QueryViewCountWithECardFreshContentRssAnswerPresent",
		"QueryViewCountWithEntityResultsCachedPageLinkClicks",
		"EntityResultsWebIndexTitleLinkClickCount",
		"QueryViewCountWithEntityResultsWebIndexTitleLinkClicks",
		"DCardItemCount",
		"WebIndexDeeplinkItemCount",
		"QueryViewCountWithTaskSharingPresent",
		"QueryViewCountWithEntityResultsSpamLinkClicks",
		"QueryViewCountWithECardFreshContentPresent",
		"ECardClickCount",
		"QueryViewCountWithDCardWebIndexSiteSearchPresent",
		"EntityResultsWebIndexTitleLinkItemCount",
		"QueryViewCountWithFooterPresent",
		"QueryViewCountWithDCardClicks",
		"QueryViewCountWithECardFreshContentRssAnswerClicks",
		"QueryViewCountWithTOCTOCAlgorithmicPresent",
		"QueryViewCountWithDCardAnswerClicks",
		"QueryViewCountWithECardFreshContentClicks",
		"QueryViewCountWithTOCTOCAlgorithmicClicks",
		"QueryViewCountWithEntityResultsWebIndexTitleLinkPresent",
		"QueryViewCountWithECardClicks",
		"DCardWebIndexSiteSearchItemCount",
		"QueryViewCountWithDCardWebIndexClicks",
		"QueryViewCountWithECardAnswerRowPresent",
		"FooterItemCount",
		"QueryViewCountWithRichAdPresent",
		"QueryViewCountWithFooterClicks",
		"QueryViewCountWithDCardAnswerPresent",
		"ECardAnswerRowClickCount",
		"EntityResultsTranslateLinkClickCount",
		"QueryViewCountWithHeaderClicks",
		"DCardWebIndexItemCount",
		"QueryViewCountWithDCardWebIndexDeeplinkPresent",
		"QueryViewCountWithDCardWebIndexPresent",
		"QueryViewCountWithTOCTOCEditorialPresent",
		"WebIndexDeeplinkClickCount",
		"ECardDominantImageClickCount",
		"QueryViewCountWithEntityResultsEnhancedViewLinkPresent",
		"QueryViewCountWithECardBlurbClicks",
		"DCardClickCount",
		"EntityResultsSiteDataLinkClickCount",
		"TaskSharingItemCount",
		"RichAdItemCount",
		"ECardDominantImageItemCount",
		"QueryViewCountWithEntityResultsTranslateLinkPresent",
		"QueryViewCountWithEntityResultsSpamLinkPresent",
		"QueryViewCountWithECardPresent",
		"QueryViewCountWithAdultAdClicks",
		"EntityResultsCachedPageLinkClickCount",
		"QueryViewCountWithTOCTOCEditorialClicks",
		"QueryViewCountWithWebIndexDeeplinkPresent",
		"QueryViewCountWithSetSearchEngineClicks",
		"MOPEntityInlineQSItemCount",
		"QueryViewCountWithSetBingDefaultsClicks",
		"InlineQSClickCount",
		"QueryViewCountWithMOPEntityInlineQSPresent",
		"QueryViewCountWithLeftRailExploreRelatedClicks",
		"QueryViewCountWithLeftRailExploreRelatedPresent",
		"QueryViewCountWithSetHomepageClicks",
		"QueryViewCountWithInlineQSClicks",
		"QueryViewCountWithSetSearchEnginePresent",
		"QueryViewCountWithBOPEntityInlineQSPresent",
		"QueryViewCountWithBOPEntityInlineQSClicks",
		"QueryViewCountWithSetBingDefaultsPresent",
		"QueryViewCountWithMOPEntityInlineQSClicks",
		"QueryViewCountWithTOPEntityInlineQSPresent",
		"QueryViewCountWithSetHomepagePresent",
		"BOPEntityInlineQSClickCount",
		"QueryViewCountWithPromoteIEPresent",
		"InlineQSItemCount",
		"BOPEntityInlineQSItemCount",
		"QueryViewCountWithInlineQSPresent",
		"MOPEntityInlineQSClickCount",
		"QueryViewCountWithPromoteIEClicks",
		"QueryViewCountWithTOPEntityInlineQSClicks",
		"MarketingTrafficCount",
		"NormalTrafficCount",
		"NonMarketingBotTrafficCount",
		"ResultsClicksAtPosGt4",
		"AvgTimeToFirstClick",
		"AvgTimeToLastClick",
		"AdCPC",
		"NoResultRate",
		"AdDensity",
		"CoreTopAdDensity",
		"CoreBottomAdDensity",
		"RightRailAdDensity",
		"AdClickYield",
		"CoreTopAdClickYield",
		"RightRailAdClickYield",
		"CoreBottomAdClickYield",
		"WholePageClickRate",
		"WholePageCoverage",
		"WholePageConditionalClickRate",
		"AdPageClickRate",
		"AdCoverage",
		"AdConditionalClickRate",
		"AnswerPageClickRate",
		"AnswerCoverage",
		"AnswerConditionalClickRate",
		"CorrectionPageClickRate",
		"CorrectionCoverage",
		"CorrectionConditionalClickRate",
		"WebindexPageClickRate",
		"WebindexCoverage",
		"WebindexConditionalClickRate",
		"ResultsPageClickRate",
		"ResultsCoverage",
		"ResultsConditionalClickRate",
		"RelatedPageClickRate",
		"RelatedCoverage",
		"RelatedConditionalClickRate",
		"RelatedDensity",
		"ScopeBarPageClickRate",
		"ScopeBarCoverage",
		"ScopeBarConditionalClickRate",
		"PaginationPageClickRate",
		"PaginationCoverage",
		"PaginationConditionalClickRate",
		"CoreTopAdPageClickRate",
		"CoreTopAdCoverage",
		"CoreTopAdConditionalClickRate",
		"CoreBottomAdPageClickRate",
		"CoreBottomAdCoverage",
		"CoreBottomAdConditionalClickRate",
		"RightRailAdPageClickRate",
		"RightRailAdCoverage",
		"RightRailAdConditionalClickRate",
		"DominantResultWebindexPageClickRate",
		"DominantResultWebindexCoverage",
		"DominantResultWebindexConditionalClickRate",
		"SearchHistoryPageClickRate",
		"SearchHistoryCoverage",
		"SearchHistoryConditionalClickRate",
		"TOCPageClickRate",
		"TOCCoverage",
		"TOCConditionalClickRate",
		"CoreTopPageClickRate",
		"CoreTopCoverage",
		"CoreTopConditionalClickRate",
		"CorePageClickRate",
		"CoreCoverage",
		"CoreConditionalClickRate",
		"CoreBottomPageClickRate",
		"CoreBottomCoverage",
		"CoreBottomConditionalClickRate",
		"RightRailPageClickRate",
		"RightRailCoverage",
		"RightRailConditionalClickRate",
		"TOCWebGroupPageClickRate",
		"TOCWebGroupCoverage",
		"TOCWebGroupConditionalClickRate",
		"TOCVerticalNavPageClickRate",
		"TOCVerticalNavCoverage",
		"TOCVerticalNavConditionalClickRate",
		"ResultsPos01PageClickRate",
		"ResultsPos01Coverage",
		"ResultsPos01ConditionalClickRate",
		"ResultsPos02PageClickRate",
		"ResultsPos02Coverage",
		"ResultsPos02ConditionalClickRate",
		"ResultsPos03PageClickRate",
		"ResultsPos03Coverage",
		"ResultsPos03ConditionalClickRate",
		"ResultsPos04PageClickRate",
		"ResultsPos04Coverage",
		"ResultsPos04ConditionalClickRate",
		"ResultsPos05PageClickRate",
		"ResultsPos05Coverage",
		"ResultsPos05ConditionalClickRate",
		"ResultsPos06PageClickRate",
		"ResultsPos06Coverage",
		"ResultsPos06ConditionalClickRate",
		"ResultsPos07PageClickRate",
		"ResultsPos07Coverage",
		"ResultsPos07ConditionalClickRate",
		"ResultsPos08PageClickRate",
		"ResultsPos08Coverage",
		"ResultsPos08ConditionalClickRate",
		"ResultsPos09PageClickRate",
		"ResultsPos09Coverage",
		"ResultsPos09ConditionalClickRate",
		"ResultsPos10PageClickRate",
		"ResultsPos10Coverage",
		"ResultsPos10ConditionalClickRate",
		"FooterPageClickRate",
		"FooterCoverage",
		"FooterConditionalClickRate",
		"HeaderPageClickRate",
		"HeaderCoverage",
		"HeaderConditionalClickRate",
		"LeftRailPageClickRate",
		"LeftRailCoverage",
		"LeftRailConditionalClickRate",
		"DCardPageClickRate",
		"DCardCoverage",
		"DCardConditionalClickRate",
		"DCardWebIndexDeeplinkPageClickRate",
		"DCardWebIndexDeeplinkCoverage",
		"DCardWebIndexDeeplinkConditionalClickRate",
		"DCardWebIndexSiteSearchPageClickRate",
		"DCardWebIndexSiteSearchCoverage",
		"DCardWebIndexSiteSearchConditionalClickRate",
		"ECardPageClickRate",
		"ECardCoverage",
		"ECardConditionalClickRate",
		"DCardWebIndexPageClickRate",
		"DCardWebIndexCoverage",
		"DCardWebIndexConditionalClickRate",
		"DCardAnswerPageClickRate",
		"DCardAnswerCoverage",
		"DCardAnswerConditionalClickRate",
		"DCardWebIndexTitleLinkPageClickRate",
		"DCardWebIndexTitleLinkCoverage",
		"DCardWebIndexTitleLinkConditionalClickRate",
		"ECardDominantImagePageClickRate",
		"ECardDominantImageCoverage",
		"ECardDominantImageConditionalClickRate",
		"ECardBlurbPageClickRate",
		"ECardBlurbCoverage",
		"ECardBlurbConditionalClickRate",
		"ECardAnswerRowPageClickRate",
		"ECardAnswerRowCoverage",
		"ECardAnswerRowConditionalClickRate",
		"ECardFreshContentPageClickRate",
		"ECardFreshContentCoverage",
		"ECardFreshContentConditionalClickRate",
		"ECardFreshContentRssAnswerPageClickRate",
		"ECardFreshContentRssAnswerCoverage",
		"ECardFreshContentRssAnswerConditionalClickRate",
		"WebIndexDeeplinkPageClickRate",
		"WebIndexDeeplinkCoverage",
		"WebIndexDeeplinkConditionalClickRate",
		"RichAdPageClickRate",
		"RichAdCoverage",
		"RichAdConditionalClickRate",
		"AdultAdPageClickRate",
		"AdultAdCoverage",
		"AdultAdConditionalClickRate",
		"TaskSharingPageClickRate",
		"TaskSharingCoverage",
		"TaskSharingConditionalClickRate",
		"EntityResultsWebIndexTitleLinkPageClickRate",
		"EntityResultsWebIndexTitleLinkCoverage",
		"EntityResultsWebIndexTitleLinkConditionalClickRate",
		"EntityResultsSiteDataLinkPageClickRate",
		"EntityResultsSiteDataLinkCoverage",
		"EntityResultsSiteDataLinkConditionalClickRate",
		"EntityResultsCachedPageLinkPageClickRate",
		"EntityResultsCachedPageLinkCoverage",
		"EntityResultsCachedPageLinkConditionalClickRate",
		"EntityResultsSpamLinkPageClickRate",
		"EntityResultsSpamLinkCoverage",
		"EntityResultsSpamLinkConditionalClickRate",
		"EntityResultsTranslateLinkPageClickRate",
		"EntityResultsTranslateLinkCoverage",
		"EntityResultsTranslateLinkConditionalClickRate",
		"EntityResultsEnhancedViewLinkPageClickRate",
		"EntityResultsEnhancedViewLinkCoverage",
		"EntityResultsEnhancedViewLinkConditionalClickRate",
		"TOCTOCEditorialPageClickRate",
		"TOCTOCEditorialCoverage",
		"TOCTOCEditorialConditionalClickRate",
		"TOCTOCAlgorithmicPageClickRate",
		"TOCTOCAlgorithmicCoverage",
		"TOCTOCAlgorithmicConditionalClickRate",
		"ResultForceToBottomAnswerPageClickRate",
		"ResultForceToBottomAnswerCoverage",
		"ResultForceToBottomAnswerConditionalClickRate",
		"DCardWebIndexExternalWebSearchPageClickRate",
		"DCardWebIndexExternalWebSearchCoverage",
		"DCardWebIndexExternalWebSearchConditionalClickRate",
		"DCardWebIndexPackageSearchPageClickRate",
		"DCardWebIndexPackageSearchCoverage",
		"DCardWebIndexPackageSearchConditionalClickRate",
		"TopAnswerPageClickRate",
		"TopAnswerCoverage",
		"TopAnswerConditionalClickRate",
		"InlineAnswerPageClickRate",
		"InlineAnswerCoverage",
		"InlineAnswerConditionalClickRate",
		"TopECardPageClickRate",
		"TopECardCoverage",
		"TopECardConditionalClickRate",
		"InlineECardPageClickRate",
		"InlineECardCoverage",
		"InlineECardConditionalClickRate",
		"NavBarPageClickRate",
		"NavBarCoverage",
		"NavBarConditionalClickRate",
		"NavBarHeaderPageTitlePageClickRate",
		"NavBarHeaderPageTitleCoverage",
		"NavBarHeaderPageTitleConditionalClickRate",
		"AnswerBarPageClickRate",
		"AnswerBarCoverage",
		"AnswerBarConditionalClickRate",
		"AnswerBarDensity",
		"ComparePageClickRate",
		"CompareCoverage",
		"CompareConditionalClickRate",
		"RelatedQSComparePageClickRate",
		"RelatedQSCompareCoverage",
		"RelatedQSCompareConditionalClickRate",
		"RelatedQSCompareDensity",
		"RelatedQSDefaultPageClickRate",
		"RelatedQSDefaultCoverage",
		"RelatedQSDefaultConditionalClickRate",
		"RelatedQSDefaultDensity",
		"CoreResultsDocPreviewPageClickRate",
		"CoreResultsDocPreviewCoverage",
		"CoreResultsDocPreviewConditionalClickRate",
		"CoreResultsDocPreviewEmbeddedPageClickRate",
		"CoreResultsDocPreviewEmbeddedCoverage",
		"CoreResultsDocPreviewEmbeddedConditionalClickRate",
		"CoreResultsDocPreviewEmbeddedDensity",
		"CoreResultsDocPreview2OrMorePageClickRate",
		"CoreResultsDocPreview2OrMoreCoverage",
		"CoreResultsDocPreview2OrMoreConditionalClickRate",
		"CoreResultsDocPreview3OrMorePageClickRate",
		"CoreResultsDocPreview3OrMoreCoverage",
		"CoreResultsDocPreview3OrMoreConditionalClickRate",
		"CoreResultsDocPreview4OrMorePageClickRate",
		"CoreResultsDocPreview4OrMoreCoverage",
		"CoreResultsDocPreview4OrMoreConditionalClickRate",
		"CoreResultsDocPreview5OrMorePageClickRate",
		"CoreResultsDocPreview5OrMoreCoverage",
		"CoreResultsDocPreview5OrMoreConditionalClickRate",
		"AutosuggestPageClickRate",
		"AutosuggestCoverage",
		"AutosuggestConditionalClickRate",
		"AutosuggestFollowOnConditionalClickRate",
		"LeftRailExploreRelatedPageClickRate",
		"LeftRailExploreRelatedCoverage",
		"LeftRailExploreRelatedConditionalClickRate",
		"TOPEntityInlineQSPageClickRate",
		"TOPEntityInlineQSCoverage",
		"TOPEntityInlineQSConditionalClickRate",
		"MOPEntityInlineQSPageClickRate",
		"MOPEntityInlineQSCoverage",
		"MOPEntityInlineQSConditionalClickRate",
		"BOPEntityInlineQSPageClickRate",
		"BOPEntityInlineQSCoverage",
		"BOPEntityInlineQSConditionalClickRate",
		"InlineQSPageClickRate",
		"InlineQSCoverage",
		"InlineQSConditionalClickRate",
		"SetHomepagePageClickRate",
		"SetHomepageCoverage",
		"SetHomepageConditionalClickRate",
		"SetSearchEnginePageClickRate",
		"SetSearchEngineCoverage",
		"SetSearchEngineConditionalClickRate",
		"PromoteIEPageClickRate",
		"PromoteIECoverage",
		"PromoteIEConditionalClickRate",
		"SetBingDefaultsPageClickRate",
		"SetBingDefaultsCoverage",
		"SetBingDefaultsConditionalClickRate",
		"RelevantSearchHistoryPageClickRate",
		"RelevantSearchHistoryCoverage",
		"RelevantSearchHistoryConditionalClickRate",
		"RecentSearchHistoryPageClickRate",
		"RecentSearchHistoryCoverage",
		"RecentSearchHistoryConditionalClickRate",
		"HighMonetizationQuerySuggestionsPageClickRate",
		"HighMonetizationQuerySuggestionsCoverage",
		"HighMonetizationQuerySuggestionsConditionalClickRate"
	};

    template.Render();

#>
